@import "../../../styles/variables.scss";

button {
  border: 1px var(--buttoncolor) solid;
  padding: 15px 40px;
  min-width: 175px;
  min-height: 50px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 23px;
  text-align: center;
  margin-bottom: 8px;
}

.primary {
  border: 1px $buttoncolor solid;
  background-color: $buttoncolor;
  color: $color-white;
  border-radius: 26.5px;
  height: 53px;
  width: 213px;
  &:hover {
    background-color: $color-white;
    color: $totalred;
  }
}

.secundary {
  border: 1px solid $totalred;
  border-radius: 26.5px;
  background-color: $color-white;
  color: $totalred;
  height: 53px;
  width: 213px;
  &:hover {
    background-color: $buttoncolor;
    color: $color-white;
  }
}


:root {
  --buttoncolor: #47922c;
}

.buttonRates {
  border: 1px var(--buttoncolor) solid;
  background-color: var(--buttoncolor);
  color: $color-white;
  border-radius: 26.5px;
  height: 53px;
  width: 213px;
  margin-top: 3%;
  margin-bottom: 3%;
}

@media (max-width: $medium) {
  button {
    border-radius: 50px;
    justify-content: space-around;
    min-width: 124px;
    min-height: 40px;
    margin-top: 3%;
    margin-bottom: 3%;
  }
}

@media (max-width: $small) {
 .back {
    width: -moz-fit-content;
  }
  .next {
    width: -moz-fit-content;
  }
}