@import "../../../styles/variables.scss";

button {
  display: flex;
  height: 48px;
  padding: 12px 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  
  border-radius: 80px;
  background: var($totalred, #ED0000);
  color: var($color-white, #FFF);

  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125rem;
}

.primary {
  border: 1px $buttoncolor solid;
  background-color: $buttoncolor;
  color: $color-white;
  width: 213px;
  &:hover {
    background-color: $color-white;
    color: $totalred;
  }
  .button_icon {
    fill: $totalred;
  }
}

.secundary {
  border: 1px solid $totalred;
  background-color: $color-white;
  color: $totalred;
  width: 213px;
  &:hover {
    background-color: $buttoncolor;
    color: $color-white;
  }
  .button_icon {
    fill: $color-white;
  }
}

@media (max-width: $medium) {
  button {
    display: flex;
    height: 48px;
    padding: 12px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    border-radius: var(80px);
    background: var($totalred, #ED0000);
    color: var($color-white, #FFF);

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
  }
}

@media (max-width: $small) {
 .primary {
    width: -moz-fit-content;
  }
  .secundary {
    width: -moz-fit-content;
  }
}