<!-- <label [attr.for]="selectId">{{ labelText }}</label>
<mat-select [id]="selectId" (change)="selectOption($event.value)">
  <option *ngFor="let option of testselectOptions" [value]="option.value">{{ option.label }}</option>
</mat-select> -->

<mat-form-field appearance="outline">
  <!-- <mat-label>{{ labelText }}</mat-label> -->
  <label [attr.for]="selectId">{{ labelText }}</label>

  <mat-select [id]="selectId" (selectionChange)="selectOption($event.value)">
    <mat-option *ngFor="let option of selectOptions" [value]="option.value">
      {{ option.label }}
    </mat-option>
  </mat-select>
</mat-form-field>