@import "../../../styles/variables.scss";

.input_field {
    display: flex;
    flex-direction: column;
    width: 308px;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;

    label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
        flex: 1 0 0;

        color: var($neutral-grey, #374649);
        font-feature-settings: 'liga' off, 'clig' off;

        font-family: Roboto;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: 0.000625rem;
        gap: 8px;
    }

    .input-container {
        position: relative;
        display: inline-block;
    }

    input {
        display: flex;
        padding: 12px 8px;
        justify-content: flex-end;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid var($neutral-grey, #5D6364);
        height: 20px;
        align-items: center;
        gap: 8px;
        flex: 1 0 0;
    }
    
    .input_icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        fill: #333;
    }
}


@media (max-width: $small) {
    .input_field {
        gap: 4px;
        align-self: stretch;
        label {
            align-self: stretch;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.1px;
        }
        input {
            width: 250px;
            height: 24px;
        }
    }
}