@import "../../../styles/variables.scss";

mat-checkbox {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;
}