<p>main-container works!</p>

<div class="button-navigation-container">
    <app-button buttonId="continuar-cups" buttonType="primary" (buttonClicked)="nextClicked()" buttonText="Continuar" [buttonIcon]="icon" buttonIconRoute="assets/icons/phone_white.svg">
    </app-button>
</div>

<app-button buttonId="continuar-cups" buttonType="primary--header" (buttonClicked)="nextClicked()" buttonText="Teléfono contrataciones" [buttonIcon]="icon" buttonIconRoute="assets/icons/phone_white.svg">
</app-button>